<a href="https://colab.research.google.com/github/Sameemudeen/newcode1/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

---

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

---

1.   Python
2.   R
3.   SQL
4.   Java
5.   c/c++

Some of the commonly used libraries used by Data Scientists include:


---


1.   NumPy
2.   Pandas
3.   Matplotlib
4.   Seaborn
5.   SciKit-learn

--------------------
|Data Science Tools|
--------------------
|Jupyter Notebook  |
|Rstudio           |
|Apache Zeppline   |

###Below are a few examples of evaluating arithmetic expressions in Python.

---
# Addition
result1 = 10 + 5       # Output: 15

# Subtraction
result2 = 20 - 4       # Output: 16

# Multiplication
result3 = 7 * 6        # Output: 42

# Division
result4 = 8 / 2        # Output: 4.0

# Floor Division (quotient without remainder)
result5 = 9 // 2       # Output: 4

# Modulus (remainder)
result6 = 9 % 2        # Output: 1

# Exponentiation
result7 = 2 ** 3       # Output: 8

 This a simple arithmetic expression to mutiply then add integers

---

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

---

In [3]:
minutes = 200
hours = minutes / 60
print("Minutes:", minutes)
print("Hours:", round(hours, 2))

Minutes: 200
Hours: 3.33

**objective:**


---
- List popular languages for Data Science  
- Identify commonly used open-source tools in Data Science  
- Write and evaluate basic arithmetic expressions in Python  
- Convert time units using Python expressions  
- Create and format Markdown tables in Jupyter Notebooks

##Author
S.Mohamed Sameemudeen